name: Build and upload Artemis.Plugins.LayerEffect.Strobe

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'src/LayerEffects/Artemis.Plugins.LayerEffect.Strobe/**'
      - 'src/Directory.Build.props'

jobs:
  upload:
    uses: ./.github/workflows/plugin-upload.yml
    with:
      projectPath: 'src/LayerEffects/Artemis.Plugins.LayerEffect.Strobe/Artemis.Plugins.LayerEffect.Strobe.csproj'
    secrets:
      WORKSHOP_PAT: ${{ secrets.WORKSHOP_PAT }}

