name: Build and upload Artemis.Plugins.Audio

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'src/Collections/Artemis.Plugins.Audio/**'
      - 'src/Directory.Build.props'

jobs:
  upload:
    uses: ./.github/workflows/plugin-upload.yml
    with:
      projectPath: 'src/Collections/Artemis.Plugins.Audio/Artemis.Plugins.Audio.csproj'