name: Build and upload Artemis.Plugins.Devices.WS281X

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'src/Devices/Artemis.Plugins.Devices.WS281X/**'
      - 'src/Directory.Build.props'

jobs:
  upload:
    uses: ./.github/workflows/plugin-upload.yml
    with:
      projectPath: 'src/Devices/Artemis.Plugins.Devices.WS281X/Artemis.Plugins.Devices.WS281X.csproj'
    secrets:
      WORKSHOP_PAT: ${{ secrets.WORKSHOP_PAT }}

