name: Build and upload Artemis.Plugins.Devices.CoolerMaster

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'src/Devices/Artemis.Plugins.Devices.CoolerMaster/**'
      - 'src/Directory.Build.props'

jobs:
  upload:
    uses: ./.github/workflows/plugin-upload.yml
    with:
      projectPath: 'src/Devices/Artemis.Plugins.Devices.CoolerMaster/Artemis.Plugins.Devices.CoolerMaster.csproj'
    secrets:
      WORKSHOP_PAT: ${{ secrets.WORKSHOP_PAT }}

