name: Build and upload Artemis.Plugins.PhilipsHue

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'src/Collections/Artemis.Plugins.PhilipsHue/**'
      - 'src/Directory.Build.props'

jobs:
  upload:
    uses: ./.github/workflows/plugin-upload.yml
    with:
      projectPath: 'src/Collections/Artemis.Plugins.PhilipsHue/Artemis.Plugins.PhilipsHue.csproj'
    secrets:
      WORKSHOP_PAT: ${{ secrets.WORKSHOP_PAT }}

